#board {
  border: solid black;
  display: flex;
  width: 512px;
  height: 512px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.square {
  border: solid black;
  border-width: 1px;
  flex: 1;
}

.hover {
  background: black;
}
